@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i');
body {
    /*font-family: 'Poppins', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.content {
    border: 1px solid #dee2e6;
    /* height: 100vh; */
    margin: 30px auto;
    padding: 30px;
}

.title {
    text-align: center;
    font-weight: 300;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.form-content {
    margin-right: 15px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    border-radius: 0;
    background-color: #fbfbfb;
    border: 1px solid #e3e7ec;
    font-size: 14px;
}
.table-content {
    margin-left: 15px;
}

.upload-title {
    font-size: 15px;
    font-weight: 600;
}
/*Spinner*/
.quantity{

}
.spinner {
    width: 48px;
    height: 40px;
}

.spinner input {
    text-align: right;
    border-color: #cfd1d5;
}

.input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    display: table-cell;
}

.input-group-btn-vertical > .btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 9px 11px;
    margin-left: -1px;
    position: relative;
    border-radius: 0;
    border: 1px solid #cfd1d5;
    background-color: #f6f7fa;
}

.input-group-btn-vertical > .btn:first-child {
    border-top-right-radius: 4px;
}

.input-group-btn-vertical > .btn:last-child {
    margin-top: -2px;
    border-bottom-right-radius: 4px;
}

.input-group-btn-vertical i {
    position: absolute;
    top: 2px;
    left: 7px;
    color: #afb2b8;
}

.total {
    text-align: right;
}

.total span {
    font-weight: 500;
    margin-right: 10px;
}

@media(max-width: 768px) {
    .border-right {
        border-right: 0 !important;
    }
    .form-content {
        margin: 0 0 50px;
    }
    .table-content {
        margin-left: 0;
    }
}
.table .thead-light th {
    font-weight: 600;
}
.payment span,
.total span{
    font-weight: 600;
    margin-right: 5px;
}
/*Fileupload*/
.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.btn-file {
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    margin-right: 10px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.fileupload-preview {
    color: #95969b;
    font-size: 15px;
    margin-right: 7px;
}
.close.fileupload-exists {
    vertical-align: middle;
}
.btn-file > input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
}
.fileupload {
    margin-bottom: 9px;
}
.fileupload .uneditable-input {
    display: inline-block;
    margin-bottom: 0px;
    vertical-align: middle;
    cursor: text;
}
.fileupload .thumbnail {
    overflow: hidden;
    display: inline-block;
    margin-bottom: 5px;
    vertical-align: middle;
    text-align: center;
}
.fileupload .thumbnail > img {
    display: inline-block;
    vertical-align: middle;
    max-height: 100%;
}
.fileupload .btn {
    vertical-align: middle;
}
.fileupload-exists .fileupload-new,
.fileupload-new .fileupload-exists {
    display: none;
}
.fileupload-inline .fileupload-controls {
    display: inline;
}
.fileupload-new .input-append .btn-file {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
.thumbnail-borderless .thumbnail {
    border: none;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.fileupload-new.thumbnail-borderless .thumbnail {
    border: 1px solid #ddd;
}
.control-group.warning .fileupload .uneditable-input {
    color: #a47e3c;
    border-color: #a47e3c;
}
.control-group.warning .fileupload .fileupload-preview {
    color: #a47e3c;
}
.control-group.warning .fileupload .thumbnail {
    border-color: #a47e3c;
}
.control-group.error .fileupload .uneditable-input {
    color: #b94a48;
    border-color: #b94a48;
}
.control-group.error .fileupload .fileupload-preview {
    color: #b94a48;
}
.control-group.error .fileupload .thumbnail {
    border-color: #b94a48;
}
.control-group.success .fileupload .uneditable-input {
    color: #468847;
    border-color: #468847;
}
.control-group.success .fileupload .fileupload-preview {
    color: #468847;
}
.control-group.success .fileupload .thumbnail {
    border-color: #468847;
}